<style type="text/css">
.textarea-linkus {width:80%;font-size:0.875em;font-family:"Courier New", Courier, monospace;}
.linkus_mobil {width:50%;}
@media (max-width: 768px) {
.linkus_mobil {float:left;width:100%;margin-top:6px;}
.textarea-linkus {width:95%;font-size:0.875em;font-family:"Courier New", Courier, monospace;}
}
</style>
<center><strong>Hier sind unsere Banner!</strong><br><small>Zum Einbinden den entsprechenden Code benutzen.</small><br><br></center>
{EXPLODE}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th scope="col">&nbsp;</th>
    <th scope="col">&nbsp;</th>
  </tr>
  <tr>
    <td colspan="2"><div align="center"><a href="{link}" target="_blank"><img src="{bild}" border="0" ></a><br><i><span class="label label-default">{groesse}</span></i></div></td>
  </tr>
  <tr>
    <td class="linkus_mobil">
      <div align="center">HTML-Code (f&uuml;r deine Website)<br>
        <textarea name="textarea2" class="form-control textarea-linkus" rows="5"  onfocus="this.select()" onmouseclick="this.focus()"  readonly>&lt;a href=&quot;{link}&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;{bild}&quot; border=&quot;0&quot; &gt;&lt;/a&gt;</textarea>
      </div>
    </td>
    <td class="linkus_mobil">
      <div align="center">BB-Code (f&uuml;r Foren)<br>
        <textarea name="textarea" class="form-control textarea-linkus" rows="5"  onfocus="this.select()" onmouseclick="this.focus()"  readonly>[url={link}][img]{bild}[/img][/url]</textarea>
      </div>
  </tr>
</table>
<hr>
<br>
{EXPLODE}
<div align="center">F&uuml;r weitere Gr&ouml;&szlig;en <a href="index.php?contact" target="_self">kontaktieren</a> Sie uns</div>
